<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        
        <title>Person Details</title>

</head>

<body>

    <div class="page-wrapper chiller-theme toggled">

        <%- include ('partials/header.ejs') %>
            <main class="page-content mt-5">
                <div class="container-fluid">
                    <h2>View Person Details</h2>
                    <hr>
                    <div class="container py-3">
                        <!-- error div -->
                        <div id="alertDiv" style="display: none;">
                            <div class="alert alert-info" role="alert">
                                <span id="alertMsg"></span>
                            </div>
                        </div>
                        <!-- error div end -->
                        <form action="/getPersonDetails" method="POST" id="searchPersonForm">
                            <div class="input-group">
                                <input type="text" id="cnicVal" class="form-control" placeholder="Enter CNIC" required>
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                        <div id="personInfo" class="mt-5 p-4 border rounded border-dark" style="display: none;">
                            <div class="row">
                                <div class="col-9">
                                    <div class="row">
                                        <label for="CNIC" class="col-sm-2 col-form-label"><b>CNIC</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="CNIC" placeholder="CNIC" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="FullName" class="col-sm-2 col-form-label"><b>Full Name</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="FullName" placeholder="Person's Name" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="FatherName" class="col-sm-2 col-form-label"><b>Father
                                                Name</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="FatherName" placeholder="Father Name" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="FatherCNIC" class="col-sm-2 col-form-label"><b>Father
                                                CNIC</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="FatherCNIC" placeholder="Father CNIC" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="MotherName" class="col-sm-2 col-form-label"><b>Mother
                                                Name</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="MotherName" placeholder="Mother Name" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="MotherCNIC" class="col-sm-2 col-form-label"><b>Mother
                                                CNIC</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="MotherCNIC" placeholder="Mother CNIC" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="DOB" class="col-sm-2 col-form-label"><b>Date of Birth</b></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="DOB" placeholder="DOB" readonly>
                                        </div>
                                        <label for="Age" class="col-sm-2 col-form-label"><b>Age</b></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="Age" placeholder="Age" readonly>
                                        </div>
                                    </div>

                                    <div class="mt-4 row">
                                        <label for="Address" class="col-sm-2 col-form-label"><b>Address</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="Address" placeholder="Address" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="MobileNum" class="col-sm-2 col-form-label"><b>Mobile
                                                Number</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="MobileNum" placeholder="Mobile Number" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="Email" class="col-sm-2 col-form-label"><b>Email</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="Email" placeholder="Email" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="Region" class="col-sm-2 col-form-label"><b>Region</b></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="Region" placeholder="Region" readonly>
                                        </div>
                                        <label for="Religion" class="col-sm-2 col-form-label"><b>Religion</b></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="Religion" placeholder="Religion" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="Cast" class="col-sm-2 col-form-label"><b>Cast</b></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="Cast" placeholder="Cast" readonly>
                                        </div>
                                        <label for="Gender" class="col-sm-2 col-form-label"><b>Gender</b></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control-plaintext border pl-3 rounded"
                                                id="Gender" placeholder="Gender" readonly>
                                        </div>
                                    </div>
                                    <div class="mt-4 row">
                                        <label for="MOI" class="col-sm-2 col-form-label"><b>Marks of
                                                Identification</b></label>
                                        <div class="col-sm-10">
                                            <textarea row="3" type="text"
                                                class="form-control-plaintext border pl-3 rounded" id="MOI"
                                                placeholder="Marks of Identification" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="card" style="width: 10rem;" id="img-card">
                                            <img id="img-holder" class="card-img-top" src="images/unknownSampleImg.png"
                                                alt="person's image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- </div> -->
    </div>
    </main>
    <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <%- include('partials/foot.ejs') %>
        <script>
            $('#searchPersonForm').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'get',
                    url: '/search_person',
                    dataType: 'json',
                    xhrFields: {
                            withCredentials: true
                        },
                    data: {
                        "cnic": $('#cnicVal').val()
                    },
                    success: function (record) {
                        $('#CNIC').val(record.CNIC);
                        $('#FullName').val(record.FullName);
                        $('#FatherName').val(record.FatherName);
                        $('#FatherCNIC').val(record.FatherCNIC);
                        $('#MotherName').val(record.MotherName);
                        $('#MotherCNIC').val(record.MotherCNIC);
                        $('#DOB').val(record.DOB);
                        $('#Age').val(record.Age);
                        $('#Address').val(record.Address);
                        $('#MobileNum').val(record.MobileNum);
                        $('#Email').val(record.Email);
                        $('#Region').val(record.Region);
                        $('#Religion').val(record.Religion);
                        $('#Cast').val(record.Cast);
                        $('#Gender').val(record.Gender);
                        $('#MOI').val(record.IdentificationMark);
                        $('#img-holder').attr('src',`images/${record.CNIC}.jpg`)
                        $('#personInfo').show();
                    },
                    error: function (err)
                    {
                        $('#personInfo').hide();
                        $('#alertMsg').text("Error! "+err.responseText);
                        $('#alertDiv').show().delay(2000).fadeOut();
                    }
                });

            });
        </script>



</body>

</html>